@import './css/variables.css';
@import './css/resetDefault.css';
@import './css/header.css';
@import './css/Home/homeSearch.css';
@import './css/Home/recipesContainer.css';
@import './css/Home/recipeItem.css';
@import './css/authForm.css';
@import './css/recipe.css';
@import './css/review.css';
@import './css/reviewItem.css';
@import './css/user.css';
@import './css/footer.css';


/* General */

body {
  background-color: #efefef;
}

.brand-color-txt {
  color: var(--brand-color)
}

.brand-color-bg {
  background-color: var(--brand-color);
}

.text-color-white {
  color: white;
}

.grey {
  color: #dadada
}

/* MAIN Container */

main {
  position: relative;
  max-width: 1000px;
  margin: auto;
}

/* Bottons Styling */

.btn {
  display: block;
  border: solid 1px var(--brand-color);
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  font-weight: 900;
}

.btn-mid {
  padding: 8px 20px;
  font-size: 1rem;
}

.btn-brand:hover {
  background-color: var(--brand-color-btn-hover);
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
}
