@import './css/variables.css';
@import './css/resetDefault.css';
@import './css/header.css';
@import './css/Home/homeSearch.css';
@import './css/Home/recipesContainer.css';
@import './css/Home/recipeItem.css';
@import './css/authForm.css';
@import './css/recipe.css';
@import './css/review.css';
@import './css/reviewItem.css';
@import './css/user.css';
@import './css/recipeAbstractItem.css';
@import './css/search.css';
@import './css/searchForm.css';
@import './css//createRecipe.css';
@import './css/contact.css';
@import './css/about.css';
@import './css/footer.css';


/* General */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #efefef;
}

a {
  text-decoration: none;
  color: inherit;
}

.brand-color-txt {
  color: var(--brand-color)
}

.brand-color-bg {
  background-color: var(--brand-color);
}

.text-color-white {
  color: white;
}

.grey {
  color: #dadada;
}

.auth-loading {
  display: block;
  margin: auto;
  width: 25px;
  height: 25px;
}

.error-response-title {
  margin: 24px auto;
  text-align: center;
  color: #393c6d;
  font-size: 26px;
  font-weight: 900;

}

.fwbold {
  font-weight: 900;
}

/* MAIN Container */

main {
  position: relative;
  max-width: 1000px;
  margin: auto;
}

/* Bottons Styling */

.btn {
  display: block;
  border: solid 1px var(--brand-color);
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  font-weight: 900;
}

.btn-mid {
  padding: 8px 20px;
  font-size: 1rem;
}

.btn-brand:hover {
  background-color: var(--brand-color-btn-hover);
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
}

.btn-delete-cont {
  display: block;
  text-align: end;
  width: 104%;
}

.btn-delete {
  border: none;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 900;
  background-color: rgb(218, 52, 52);
  color: white;
  padding: 2px 3px;
  cursor: pointer;
}

.btn-add-item {
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  margin: auto;
  font-size: 20px;
  font-weight: 900;
  color: white;
  background-color: rgb(27, 180, 27);
  cursor: pointer;
}

.btn-mini {
  margin-left: 5px;
  border: none;
  border-radius: 3px;
  font-size: 9px;
  font-weight: 900;
  color: white;
  padding: 3px 4px;
  cursor: pointer;
}

.btn-mini-delete {
  background-color: rgb(255, 0, 0);
}

.btn-mini-edit {
  background-color: rgb(22, 129, 0);
}

.btn-mini-back {
  color: var(--brand-color);
  background-color: white;
  border : solid 1px var(--brand-color);
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: center;
}

.pagination-item {
  width: 26px;
  height: 26px;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 900;
  margin: 4px;
  background-color: white;
  color: var(--brand-color);
  /* border: solid 1px var(--brand-color); */
  border-radius: 4px;
  cursor: pointer;
}

.pagination-item-current {
  background-color: var(--brand-color);
  color: white;
}

.pagination-item:hover {
  background-color: var(--brand-color);
  color: white;
}

/* Errors */

.error-msg {
  margin: auto;
  background-color: rgb(255, 0, 0) !important;
  color: white !important;
  font-weight: 900;
}

.err-recipe-form {
  text-align: center;
  margin: 8px auto;
  padding: 6px;
  border-radius: 6px;
}