.RecipeItem {
    width: 300px;
    height: 500px;
    border: solid 2px #efefef;
    border-radius: 15px;
    margin-top: 20px;
    cursor: pointer;
}

.recipe-item-img-bg {
    height: 85%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
   /*  background-image: url("./recipe4saladenicoise.jpg"); */
    background-repeat: no-repeat;
    background-size: 330px;
}

.img1 {
    background-image: url("./recipe1tomkakai.jpg");
}

.img2 {
    background-image: url("./recipe2pizza.jpg");
}

.img3 {
    background-image: url("./recipe3frites.jpg");
}

.img4 {
    background-image: url("./recipe4saladenicoise.jpg");
}

.img5 {
    background-image: url("./recipe5crepe.jpg");
}

.img6 {
    background-image: url("./recipe6ramen.jpg");
}

.img7 {
    background-image: url("./recipe7falafel.jpg");
}

.img8 {
    background-image: url("./recipe8ratatouille.jpg");
}

.img9 {
    background-image: url("./recipe9padthai.jpg");
}

.recipe-item-name-container {
    height: 15%;
}

.recipe-item-name-container h3 {
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    margin: 15px;
}