.about-cont {
    min-height: 450px;
    margin-top: 25px;
    padding: 25px 120px 40px 120px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: white;
    font-size: 16px;
    line-height: 22px;
}

.about-cont h1 {
    font-size: 28px;
    font-weight: 900;
    color: #393c6d;
    margin-bottom: 25px;
    text-align: center;
}

.about-content span {
    font-weight: 900;
}

.about-content a {
    color: var(--brand-color);
    font-size: 24px;
    font-weight: 900;
}

@media (max-width: 650px) {
    .about-cont {
        padding: 25px 20px 40px 20px;
    }
    
}