.search-container {
    margin-top: 25px;
    padding: 25px 120px 40px 120px; 
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: white;
}

.recipes-not-found {
    color: rgb(71, 71, 71);
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 35px;
}

.search-result-cont {
    min-height: 400px;
}