.user-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 600px;
    margin-top: 25px;
    padding: 25px 40px 40px 40px; 
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: white;
}

.user-profile-action-container {
    display:block;
    border-right: solid 1px rgb(199, 199, 199);
    padding-top: 20px;
}

.arrow-show-menu, .cross-dont-show-menu {
    display: none;
}

.btn-info, .btn-logout {
    display: block;
    text-align: center;
    width: 90%;
    margin-bottom: 20px;
    padding: 10px 4px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
}

.btn-info {
    background-color: rgb(248, 248, 248);
    color: var(--brand-color);
}

.btn-logout {
    background-color: var(--brand-color);
    color: white;
}

.user-profile-container {
    padding-top: 16px;
}

.user-profile-container h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
    color: var(--brand-color);
}

.user-content-container {
    padding: 0 40px;
}

.btn-saved-or-created-recipe-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 25px;
}

.btn-user-saved-recipe, .btn-user-created-recipe {
    padding: 8px;
    cursor: pointer;
}

.btn-user-created-recipe {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.btn-user-saved-recipe {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btn-highlight {
    background-color: var(--brand-color);
    color: white;
}

.btn-no-highlight {
    background-color: rgb(248, 248, 248);
    color: var(--brand-color);
}

.recipes-abstracts-container {
    padding: 0 40px;
    padding-bottom: 25px;
}

.recipes-abstracts-container h3 {
    text-align: center;
    color: rgb(71, 71, 71);
    font-size: 18px;
    font-weight: 900;
}

.user-info-cont {
    padding-top: 12px;
    font-size: 18px;
    color: rgb(95, 95, 95);
    margin:auto;
    width: 80%;
}

.userInfo-item {
    margin-bottom: 16px;
}

@media (max-width: 800px) {
    .user-container {
        display: block;
        min-height: 0px;
        padding: 0px 0px 40px 0px; 
    }

    .user-profile-action-container {
        display: none;
        position: absolute;
        margin: 0;
        width: 200px;
        height: 100%;
        padding-left: 12px;
        z-index: 10;
        background-color: white;
        border-top-left-radius: 12px;
    }

    .arrow-show-menu {
        display: block;
        position: absolute;
        left:0;
        width: 50px;
        margin-top: 8px;
        padding: 6px 8px;
        text-align: center;
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
        color: white;
        background-color: var(--brand-color);
        font-size: 26px;
        cursor: pointer;
        z-index: 2;
    }

    .cross-dont-show-menu {
        display: block;
        font-size: 26px;
        text-align: right;
        margin-right: 22px;
        margin-bottom: 10px;
        color: var(--brand-color);
    }
    
    .cross-dont-show-menu i {
        cursor: pointer;
    }
}

@media (max-width: 640px) {
    .user-profile-container h1 {
        font-size: 30px;
        margin: 10px 0px 20px 0px;
    }
    
    .user-content-container {
        padding: 0 16px;
    }
    
    .btn-saved-or-created-recipe-cont {
        font-size: 14px;
        margin-bottom: 16px;
    }

    /**/

    .recipes-abstracts-container {
        padding: 0;
    }
}
